
body, input, select, textarea {
	color: #666;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: 300;
	line-height: 1.50em;
}

a {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;

	color: inherit;
	text-decoration: none;
}

	a:hover {
		/*border-bottom-color: transparent !important;*/
		color: #6bd4c8;
	}

strong, b {
	color: #555;
	font-weight: 600;
}

em, i {
	font-style: italic;
}

p {
	/*margin: 0 0 2em 0;*/
	font-size: 13pt;
}

h1, h2, h3, h4, h5, h6 {
	color: #555;
	line-height: 1em;
	margin: 0 0 1em 0;
}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}

h1 {
	font-size: 2.25em;
	line-height: 1.35em;
}

h2 {
	font-size: 2em;
	line-height: 1.35em;
  /*margin-right: 12px;
  margin-left: 12px;*/
	text-align: center;


}

h3 {
	font-size: 1.25em;
	line-height: 1.5em;
  font-weight: 300;
}

h4 {
	font-size: 1.25em;
	line-height: 1.5em;

}

h5 {
	font-size: 0.9em;
	line-height: 1.5em;
}

h6 {
	font-size: 0.7em;
	line-height: 1.5em;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.4em;
	position: relative;
	top: -.9em;
}

hr {

	border: 0;
	border-bottom: solid 2px rgba(144, 144, 144, 0.5);
	/*margin: 2em 0;*/
  /*padding-left: 22%;
	padding-right: 22%;*/
	width: 340px;
	max-width: 100%;
  margin-bottom: 48px;
  /*margin-top: 48px;*/
}

img{
  max-width: 100%;
}

header{
  margin-bottom: 22px;
}
header #header-logo{
	width: 520px;
	max-width: 100%;
	margin-bottom: 52px;

}
.hero-image{
  position: absolute;
  z-index: 0;
  max-width: 100%;
  width: 3000px;
  height: 610px;
	display: block;
}
.hero-image-mobile{
	max-width: 100%;
	display: none;
}

#hero-bottles-full{
  position:relative;
  text-align: center;
	padding-left: 8px;
	padding-right: 8px;
  z-index: 1;
  padding-top: 44px;
}
#hero-bottles-full h2{

  margin-bottom: 42px;
}

#hero-bottle-image-full{

  width: 630px;

}

@media(max-width: 1300px){
  .hero-image{
    height: 580px;
  }
  #hero-bottle-image-full{
    width: 580px;
  }
}
@media(max-width: 950px){
  .hero-image{
    height: 540px;
  }
  #hero-bottle-image-full{
    width: 502px;
  }
}
@media(max-width: 819px){
  .hero-image{
    height: 580px;
  }
  #hero-bottle-image-full{
    width: 502px;
  }
}
@media(max-width: 620px){
  .hero-image{
    height: 520px;
  }
  #hero-bottle-image-full{
    width: 400px;
  }
}
@media(max-width: 500px){
  .hero-image{

    height: 448px;
  }

  #hero-bottle-image-full{
    width: 320px;
  }
  #hero-bottles-full h2{
    font-size: 1.7em;
  }
}

@media(max-width: 415px){
	.hero-image{
		height: 430px;
	}
  #hero-bottle-image-full{
    width: 320px;
  }
  #hero-bottles-full h2{
    font-size: 1.5em;
  }
}
@media(max-width: 360px){
  .hero-image{
    height: 380px;
  }
  #hero-bottle-image-full{

    width: 290px;
  }
  #hero-bottles-full h2{
    font-size: 1.4em;
    margin-top: -34px;
    margin-bottom: 54px;
  }
}
@media(max-width: 331px){
	.hero-image{
    height: 364px;
  }
	#hero-bottles-full h2{

    margin-bottom: 28px;
  }
}
@media(max-width: 316px){
	.hero-image{
    height: 364px;
  }
}
@media(max-width: 303px){
	.hero-image{
    height: 384px;
  }
}
@media(max-width: 288px){
	.hero-image{
    height: 368px;
  }
}
@media(max-width: 248px){
	.hero-image{
    height: 330px;
  }
}

#main-body{
  margin-top: 0px;
  padding-right: 8%;
  padding-left: 8%;
}
.container-mod{
	padding-right: 6%;
  padding-left: 6%;
}

h3{
	margin-bottom: 12px;
}

p{
	margin-bottom: 22px;
}

.headline{
	font-weight: 400;
}

.product-container{

	padding-top: 42px;
	padding-bottom: 38px;
}
.gray-fill{
	background-color: #EEEEEE;
}
.product{
	text-align: center;

}
.product-image{
	max-width: 100%;
  width: 180px;
  margin-right: 88px;
	margin-bottom: 0px;
  float: left;
}

@media(max-width: 685px){
	.product-image{
		margin-top: 12px;
		margin-bottom: 16px;
	}
}
@media(max-width: 666px){
	.product-image{
		margin-bottom: 84px;
	}
}
@media(max-width: 634px){
	.product-image{
		margin-top: 66px;
		margin-bottom: 66px;
	}
}
@media(max-width: 600px){
	.product-image{
		text-align: center;
		width: 400px;
	  margin-right: 0px;
		margin-bottom: 0px;
		margin-top: 0px;

	  float: none;
	}
	.product-image img{
		width: 180px;
	}
}


.product-description{
  display: inline;

}
.product-description h4{
  padding-top: 28px;

}

a{
	background-color: white;
	transition: .3s;
}
a:hover{
	background-color: gray;
}
.button{
	background-color: white;
}
.button:hover{
	color: white;
}

footer{
	padding-top: 38px;
	padding-bottom: 38px;
	text-align: center;
}
footer img{
	width: 100px;
	max-width: 100%;
}

#fda-message{

	max-width: 100%;
	text-align: left;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: -28px;
	font-size: .51em;
	width: 360px;
	line-height: 1.2em;
	padding: 2px;
}

footer a:hover{
	text-decoration: none;
	background-color: transparent;
}
header a{
	background-color: transparent;
}
header a:hover{
	background-color: transparent
}

#main-body a{
	text-decoration: underline;
}
#main-body a:hover{
	background-color: transparent;
	color: black;
}
